@import "base";

:root {
  --kint-color1: #e3ecf0;
  --kint-color2: #c0d4df;
  --kint-color3: #9dbed0;
  --kint-color4: #b2ccda;
  --kint-highlight-color: #f0eb96;
}

.kint-rich {
  > dl > dt {
    background: linear-gradient(to bottom, var(--kint-color1) 0%, var(--kint-color2) 100%);
  }
  ul.kint-tabs {
    background: linear-gradient(to bottom, var(--kint-color3) 0%, var(--kint-color4) 100%);
  }
  & > dl:not(.kint-trace) > dd > ul.kint-tabs li {
    background: var(--main-background);
    &.kint-active-tab {
      background: var(--secondary-background);
    }
  }
  & > dl.kint-trace > dt {
    background: linear-gradient(to bottom, var(--kint-color2) 0%, var(--kint-color1) 100%);
  }
  .kint-source .kint-highlight {
    background: var(--kint-highlight-color);
  }
}
